# Frontend
froont/node_modules/
froont/dist/

# Environment variables / secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
*.tsbuildinfo
froont/vite.config.js
froont/vite.config.d.ts
